* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

canvas {
  width: 100%;
  height: 100%;
  display: none;
}

.canvas-wrapper {
  width: 1200px;
  height: 800px;
  background-image: url('../images/intro-image-sheep_01.png');
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

#field {
  width: 1200px;
  height: 800px;
  background-image: linear-gradient(
    73.1deg,
    rgba(34, 126, 34, 1) 8%,
    rgba(99, 162, 17, 1) 86.9%
  );
}

#intro-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

#start-btn {
  background-color: #e5e53c;
  border: none;
  color: #227e22;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline;
  position: absolute;
  left: 45%;
  top: 70%;
  border: #e5e53c;
  border-radius: 20px;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
